/* Full page container for the registration page */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    background: url('background-image.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 20px;
  }
  
  /* Box styling for the form */
  .register-box {
    background-color: rgba(125, 119, 139, 0.71);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  /* Form styling */
  .register-box h2 {
    margin-bottom: 20px;
    color: #333;
    font-family: 'Arial', sans-serif;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #050309de;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form-group input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  /* Button styling */
  .submit-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  